<%= simple_form_for(@paciente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<%= f.fields_for :user do |fp| %>
    <%= fp.hidden_field :grupo, :value => "paciente" %>
    <%= fp.input :nome, :required => true, :autofocus => true, :input_html => {:style=> 'width: 300px'} %>
    <%= fp.input :cpf, label: "CPF", input_html: { maxlength: 11 } %>
    <%= fp.input :identidade_rg, label: "RG" %>
    <%= fp.input :data_nasc, :as => :string, label: "Data de Nascimento" %>
    <%= fp.input :sexo, collection: ["Masculino", "Feminino"] %>
    <%= fp.input :estado_civil, collection: ["Solteiro(a)", "Casado(a)", "Divorciado(a)"] %>
    <%= fp.input :cep, :input_html => {"onblur" => "getEndereco()"} %>
    <%= fp.input :rua %>
    <%= fp.input :bairro %>
    <%= fp.input :cidade %>
    <%= fp.input :uf, collection: ["AC", "AL", "AM", "AP", "BA", "CE", "DF", "ES", "GO", "MA", "MG", "MS", "MT", "PA", "PB", "PE", "PI", "PR", "RJ", "RN", "RO", "RR", "RS", "SC", "SE", "SP", "TO"]%>
    <%= fp.input :complemento %>
    <%= fp.input :numero %>
    <%= fp.input :telefone, :label => "Telefone Fixo"%>
    <%= fp.input :celular %>
    <%= fp.input :email%>
    <%= fp.input :password, :required => true, label: 'Senha' %>
    <%= fp.input :password_confirmation, :required => true, label: 'Confirmar Senha'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pacientes_path, :class => 'btn' %>
  </div>
  <% end %>
<% end %>
<script>
jQuery(function($){
         $("#paciente_user_data_nasc").mask("99/99/9999");
         $("#paciente_user_telefone").mask("(99)9999-999");
         $("#paciente_user_cpf").mask("999.999.999-99");
         $('#paciente_user_rg').mask('99.999.999-9');
         $('#paciente_user_cep').mask('99999-999');
         $('#paciente_user_rg').mask('99.999.999-9');
         $('#paciente_user_celular').mask("(99) 9999-9999?9").ready(function(event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if(phone.length > 10) {
                element.mask("(99) 99999-999?9");
            } else {
                element.mask("(99) 9999-9999?9");  
            }
});
  });
</script>

