<%= simple_form_for @paciente, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :user_id %>
  <%= f.input :ultima_consulta %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pacientes_path, :class => 'btn' %>
  </div>
<% end %>
